@model FinalCitasMedicas.tblDoctor

@{
    ViewBag.Title = "Delete";
}


<hr style="border-width: 5px;" />
<h3>Delete</h3>
<hr style="border-width: 5px;" />


<div>
    <h3>Detalle Doctor </h3>

    <div class="container-fluid">
        <h4> Nombre : @Model.nombreDoctor</h4>
        <h4> Cedula : @Model.cedulaDoctor </h4>
        <h4> Correo : @Model.correoDoctor </h4>
        <h4> Telefono : @Model.telefonoDoctor</h4>
        <h4> Direccion : @Model.direccionDoctor </h4>

    </div>

    <hr style="border-width: 5px;" />

    @Html.HiddenFor(m => m.idDoctor)

    <h4>Estas seguro que quiere Eliminar este Doctor?</h4>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions danger">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
