@model FinalCitasMedicas.ViewModel.CitaViewModel

@{
    ViewBag.Title = "Delete";
}


<hr style="border-width: 5px;" />
<h3>Delete</h3>
<hr style="border-width: 5px;" />


<div>
    <h3>Detalle Cita </h3>


    <div class="container-fluid">
        <h4> Paciente : @Model.miPaciente.nombrePaciente</h4>
        <h4> Doctor : @Model.miDoctor.nombreDoctor </h4>
        <h4> Centro Medico : @Model.miCentro.nombreCentro </h4>
        <h4> Fecha : @Model.miCita.fechaCita.Date.ToString("dddd dd MMMM yyyy")</h4>
        <h4> Hora : @Model.miCita.horaCita </h4>

    </div>
    <hr style="border-width: 5px;" />

    @Html.HiddenFor(m => m.miCita.idCita)

    <h4>Estas seguro que quiere Eliminar esta Cita?</h4>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions danger">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>