@model FinalCitasMedicas.tblPaciente

@{
    ViewBag.Title = "Delete";
}


<hr style="border-width: 5px;" />
<h3>Delete</h3>
<hr style="border-width: 5px;" />


<div>
    <h3>Detalle Paciente </h3>

    <div class="container-fluid">
        <h4> Nombre : @Model.nombrePaciente</h4>
        <h4> Cedula : @Model.cedulaPaciente </h4>
        <h4> Correo : @Model.correoPaciente </h4>
        <h4> Telefono : @Model.telefonoPaciente</h4>
        <h4> Direccion : @Model.direccionPaciente </h4>

    </div>

    <hr style="border-width: 5px;" />

    @Html.HiddenFor(m => m.idPaciente)

    <h4>Estas seguro que quiere Eliminar este Paciente?</h4>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions danger">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
