@model FinalCitasMedicas.tblEspecialidad

@{
    ViewBag.Title = "Delete";
}

<hr style="border-width: 5px;" />
<h3>Delete</h3>
<hr style="border-width: 5px;" />


<div>
    <h3>Detalle Especialidad</h3>

    <div class="container-fluid">
        <h4> Nombre : @Model.nombreEspecialidad</h4>
    </div>
    <hr style="border-width: 5px;" />

    @Html.HiddenFor(m => m.idEspecialidad)

    <h4>Estas seguro que quiere Eliminar esta Especialidad?</h4>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions danger">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>

