@model FinalCitasMedicas.tblCentroMedico

@{
    ViewBag.Title = "Delete";
}


<hr style="border-width: 5px;" />
<h3>Delete</h3>
<hr style="border-width: 5px;" />


<div>
    <h3>Detalle Centro Medico </h3>

    <div class="container-fluid">
        <h4> Nombre : @Model.nombreCentro</h4>
        <h4> Cedula : @Model.telefonoCentro </h4>
        <h4> Correo : @Model.direccionCentro </h4>
        <h4> Telefono : @Model.paginaWebCentro</h4>

    </div>

    <hr style="border-width: 5px;" />

    @Html.HiddenFor(m => m.idCentroMedico)

    <h4>Estas seguro que quiere Eliminar este Centro Medico?</h4>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions danger">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
